<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MC_Jumpbar.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="MC_Jumpbar.user" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MC_Jumpbar.Properties.Settings>
            <setting name="enableCoverArt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="displayArtistTrackName" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="trackProgress" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="playlistProgress" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="noProgressTrack" serializeAs="String">
                <value>False</value>
            </setting>
        </MC_Jumpbar.Properties.Settings>
        <MC_Jumpbar.user>
            <setting name="enableThumbnailPreview" serializeAs="String">
                <value>False</value>
            </setting>
        </MC_Jumpbar.user>
    </userSettings>
</configuration>